
h1 {
    color: rgb(20, 21, 80);
}
   
  h2 {
    color: rgb(81, 29, 29);
    
  }

    h3 {
        color: rgb(15, 11, 11);
        font-style: normal;
        text-decoration:overline ;

  }
  
  p{
  
      color:rgb(11, 48, 22);
          font-style:initial;
      }
  ol>li {
    text-align: left;

  }
    
  
  
  
  
  
  
  
  
      
  