* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* минимальная высота - 100% видимой области окна браузера по высоте */
    min-height: 100vh;
  }
  
  header {
    background-color: orange;
    height: 60px;
    font-size: 30px;
    color: white;
    padding: 20px 10px;
  }
  
  h1 {
    color: darkorange;
  }
  
  main {
    padding: 15px 30px;
    /* говорит для дочернего flex элемента растягиваться пока позволяют границы родительского элемента */
    flex: 1;
  }
  
  footer {
    width: 100%;
    /* position: fixed;
    bottom: 0px; */
    background-color: lightgray;
    height: 40px;
  }
  
  .grid-container {
    display: grid;
    gap: 8px;
    grid-template-columns:repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: 100px;
  }
  
  .grid-item {
    border: 2px solid orange;
  }
  @media (max-width: 615px) {
    header {
      background-color: brown;
    }
    .grid-container {
      grid-auto-rows: 150px;
      grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 468px) {
    header {
      background-color: orange;
    }
    .grid-container {
      grid-auto-rows: 200px;
    }
  }