h1 {
  color: rgb(32, 34, 119);
  text-align: center;
}
P{

    color:orange;
        font-style: italic;
    }

    .desk {
        font-size: 20px;
        text-decoration:underline;
color:rgb(115, 41, 199);}

    #heading {
        color: rgb(99, 31, 31);


    }

ol>li{

    font-weight:500 ;
}








    
